/* ======== font size and types ======== */

h1,
h2,
h3,
h4 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.25em;
  font-family: 'Varela Round', sans-serif;
}

/* ======== background color ======== */

/* ======== default margin and padding ======== */

/* ======== elements ======== */

/* a,
a:visited,
a:hover,
a:active */

/* ul, li */

/* ======== buttons ======== */
button {
  border: 1px #000 solid;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
}

/* ========  ======== */
