body {
  padding: 25px;
}

/* ======== nav ======== */
.nav-menu {
  display: inline;
  float: right;
}

.nav-menu a {
  padding-right: 45px;
}

/* ======== new Post ======== */
#new-post {
  padding-top: 35px;
}
