body {
  padding: 25px;
}
/* ======== default margin and padding ======== */
input[type="submit"]{
  margin-top: 10px;
}
/* ======== nav ======== */
.nav-menu {
  display: inline;
  float: right;
}

.nav-menu a {
  padding-right: 15px;
}

/* ======== new Post ======== */
#new-post {
  padding-top: 35px;
}

@media(min-width: 768px){
  .nav-menu a {
    padding-right: 30px;
  }
}
