/* ======== nav ======== */

.nav-menu a {
  font-size: 2em;
}
/*
icon size
float icons right

*/

/* ======== user modal ======== */
.user-website,
.user-email,
.user-twitter {
  font-size: 3em;
  padding-right: 35px;
}

/* ======== posts ======== */
.post{
  border-bottom: 1px dotted #00CDCD;
}

.post-body {
  font-size: 1.25em;
}

/* ======== footer ======== */
footer {
  text-align: center;
}
